.Ad_sidebarMain {
  box-sizing: border-box;
  width: 14%;
  height: 860px;
  background-color: #EDEDED;
  color: #7b7b7c;
  float: left;
}

.sideNav {
  height: 60px;
  display: flex;
  align-items: center;
}

.Ad_sidebarMain a {
  text-decoration: none;
  color: #7B7B7C;
}

.sidefa {
  font-size: 20px;
  margin-left: 15px;
}

.sideNav div {
  display: none;
}


.sideNav:hover {
  background-color: #F6A440;
  color: white;
}

@media(min-width: 700px) {
  .sideNav div {
    display: inline-block;
  }

  .sideNav {
    box-sizing: border-box;
    font-size: large;
  }

  .sidefa {
    font-size: 1.15em;
    margin-left: 20px;
    margin-right: 15px;
  }

  .Ad_sidebarMain {
    width: 31%;
    height: 1320px;
    background-color: #EDEDED;
  }
}

@media(min-width: 1000px) {
  .Ad_sidebarMain {
    width: 22%;
    height: 850px;
    background-color: #EDEDED;
  }

  .sideNav {
    font-size: large;
  }

  .sidefa {
    font-size: 1.15em;
    margin-left: 33px;
    margin-right: 28.5px;
  }
}
