.adminWrapper {
  display: flex;
  justify-content: center;
  width: 78%;
  min-height: 100vh;
}

.adminContentContainer {
  /*width: 80%;*/
  width: 95%;
  height: auto;
  background-color: white;
}

.adminPageHeaderContainer {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 12.5vh;
  color: rgb(74,95,107);
  padding-left: 2.5%;
}

.adminPageHeader {
  font-size: large;
}

.itemsSelected {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 5vh;
  padding-left: 2.5%;
  background-color: #E8EFFC;
  color: #5182EA;
}

.columnTitles {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 5vh;
  border-top: 1px solid rgb(74,95,107);
  border-bottom: 1px solid rgb(74,95,107);
  color: rgb(74,95,107);
}

.checkbox {
  height: 1.75vh;
  width: 1.75vh;
  border: 1.5px solid rgb(74,95,107);
  border-radius: 2px;
}

@media(min-width: 700px){

  .adminWrapper {
    width: 69%;
    min-height: 100vh;
    background-color: plum;
  }

  .adminPageHeaderContainer {
    min-height: 11.5vh;
    padding-left: 3.5%;
  }

  .adminPageHeader {
    font-size: x-large;
  }

  .itemsSelected {
    min-height: 6vh;
    padding-left: 3.5%;
  }

  .itemsSelected p {
    font-size: large;
  }

  .columnTitles {
    min-height: 6vh;
    border-top: 1px solid rgb(74,95,107);
    border-bottom: 1px solid rgb(74,95,107);
    color: rgb(74,95,107);
  }

  .columnTitles p {
    font-size: Large;
  }

  .checkbox {
    height: 2vh;
    width: 2vh;
  }

}
