.publicBlogWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 75vh;
  /*background-color: plum;*/
}

.publicBlogContent {
  box-sizing: border-box;
  width: 95%;
  min-height: 75vh;
  padding: 0 2%;
}

.pageTitle, .recentHeader {
  font-size: larger;
  font-weight: 700;
  margin: 10% 0;
  padding-left: 2%;
}

.recentHeader {
  font-weight: 400;
}

.blogSectionDivider {
  width: 30%;
  height: 100px;
  margin: 0 auto 7.5% auto;
  text-align: center;
  /*background-color: red;*/
}

.fa-music {
  font-size: 100px;
  color: #86ADC2;
}

@media(min-width: 700px){

  .blogCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .pageTitle {
    font-size: xx-large;
  }
}

@media(min-width: 1000px) {

  .publicBlogWrapper {
    width: 80%;
    margin: 0 auto;
  }

}
