.blogCardWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7.5%;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.blogCardContent {
  width: 100%;
  height: 350px;
  margin-bottom: 5%;
  background-color: lime;
}

.blogCardTop {
  width: 100%;
  height: 45%;
}

.blogCardTopImg {
  width: 100%;
  height: 157.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogCardTopImg img {
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

.blogCardBottom {
  position: relative;
  width: 100%;
  height: 55%;
  background-color: white;
}

.blogCardTitleDate{
  display: flex;
  flex-direction: column;
  padding: 5% 3%;
}

.blogCardTitle {
  font-size: large;
  font-weight: 700;
  margin-bottom: 5%;
}

.cardTitlePipe {
  display: none;
}

.blogCardDate {
  font-size: small;
  font-weight: 300;
  margin-bottom: 5%;
}

.blogCardSubtitle {
  font-size: large;
  color: #4D819F;
  width: 75%;
}

.tabletSubtitle, .desktopSubtitle {
  display: none;
}

.blogCardAuthorDetails {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  height: 25%;
  padding-left: 3%;
}

.blogCardAuthorPic img{
  display: flex;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.blogCardAuthorName {
  display: flex;
  align-items: center;
  height: 50px;
  margin-left: 5%;
  font-size: medium;
}

.blogCardShareCircle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #ECC749;
  right: 5%;
  bottom: 30%;
  box-shadow: 2.5px 3px 5px 1px #ccc;
}

.fa-angle-right {
  font-size: large;
  color: black;
}

@media(min-width: 700px){

  .blogCardWrapper {
    width: 30%;
    height: 275px;
  }

  .blogCardContent {
    height: 275px;
    position: relative;
  }

  .blogCardTopImg {
    width: 100%;
    min-height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tabletSubtitle {
    display: flex;
  }

  .smartphoneSubtitle {
    display: none;
  }

  .blogCardAuthorDetails {
    box-sizing: border-box;
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 25%;
    padding-left: 3%;
  }

  .blogCardShareCircle {
    height: 45px;
    width: 45px;
    right: 5%;
    bottom: 22.5%;
  }

}

@media(min-width: 1250px) {
  .blogCardWrapper {
    height: 300px;
  }

  .blogCardTop {
    height: 55%;
  }

  .blogCardBottom {
    width: 100%;
    min-height: 45%;
  }

  .blogCardTitleDate {
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .blogCardTitle {
    width: 58%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2px;
    padding-right: 5px;
    margin-bottom: 3.5%;
  }

  .blogCardDate {
    width: 40%;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    margin-bottom: 3.5%;
  }
}

@media(min-width: 1400px){


  .tabletSubtitle {
    display: none;
  }

  .desktopSubtitle {
    display: flex;
  }
}
