.homeBanner {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  min-height: 27.5vh;
  background-image: url('./../images/elsistema.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.quoteContainer {
  position: absolute;
  height: 100%;
  width: 47.5%;
  background-color: rgba(74,95,107,0.85);
}

.socialIconsQuote {
  display: flex;
  justify-content: center;
  width: 100%;
}

.socialIconsQuote a {
  text-decoration: none;
}

.socialCircleQuote {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #ECC749;
  margin-right: 1em;
  margin-top: .5em;
}

blockquote {
    width: 80%;
    margin: 0 auto;
    padding-top: 1em;
}

.quote {
  color: white;
  font-weight: 300;
  font-size: .65em;
  line-height: 1.5em;
}

.quoteAttribute {
  width: 100%;
  height: auto;
  color: white;
  padding-top: .75em;
  text-align: right;
}

.author {
  font-size: .65em;
  font-weight: 700;
  padding-bottom: .5em;
}

.authorTitle {
  font-size: .5em;
  font-weight: 300;
}

.upcomingEvents {
  width: 100%;
  min-height: 30vh;
}

.eventsContainer {
  min-height: 30vh;
  width: 90%;
  margin: 0 auto;
  /*background-color: pink;*/
}

.eventsHeaderContainer {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 10vh;
}

.eventsHeader {
  font-size: 1.25em;
  color: rgb(74,95,107);
}

.seeMoreButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5em;
  width: 4.75em;
  margin-left: .5em;
  background-color: #ECC749;
}

.seeMoreButtonText {
  color: white;
}

.linkedButton {
  text-decoration: none;
}

.eventsPreviewsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  min-height: 40vh;
}

.eventPreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35vh;
  min-height: 35vh;
  padding-bottom: 2em;
}

.eventImg {
  width: 35vh;
  height: 35vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.previewOne {
  background-image: url('./../images/pitt-violin.jpg');
}

.previewTwo {
  background-image: url('./../images/pitt-carnival-showcase.jpg');
}

.previewThree {
  background-image: url('./../images/family-night-performance.jpeg');
}

.eventDate {
  font-size: 1em;
  font-weight: 700;
  color: rgb(74,95,107);
  margin: .6em 0 .35em 0;
}

.eventName {
  font-size: .75em;
  color: rgb(74,95,107);
}
