.homeBanner {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  min-height: 27.5vh;
  background-image: url('./../images/elsistema.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.quoteContainer {
  position: absolute;
  height: 100%;
  width: 47.5%;
  background-color: rgba(74,95,107,0.85);
}

.socialIconsQuote {
  display: flex;
  justify-content: center;
  width: 100%;
}

.socialIconsQuote a {
  text-decoration: none;
}

.socialCircleQuote {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #ECC749;
  margin-right: 1em;
  margin-top: .5em;
}

.blockquote {
  width: 80%;
  margin: 0 auto;
  padding-top: 1em;
}

.quote {
  color: white;
  font-weight: 300;
  font-size: .65em;
  line-height: 1.5em;
}

.quoteAttribute {
  width: 100%;
  height: auto;
  color: white;
  padding-top: .75em;
  text-align: right;
}

.author {
  font-size: .65em;
  font-weight: 700;
  padding-bottom: .5em;
}

.authorTitle {
  font-size: .5em;
  font-weight: 300;
}

.upcomingEvents {
  width: 100%;
  min-height: 30vh;
}

.eventsContainer {
  min-height: 30vh;
  width: 90%;
  margin: 0 auto;
}

.eventsHeaderContainer {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 10vh;
}

.eventsHeader {
  font-size: 1.25em;
  color: rgb(74,95,107);
}

.seeMoreButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5em;
  width: 4.75em;
  margin-left: .5em;
  background-color: #ECC749;
}

.seeMoreButtonText {
  color: white;
}

.linkedButton {
  text-decoration: none;
}

.eventsPreviewsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  min-height: 40vh;
}

.eventPreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35vh;
  min-height: 35vh;
  padding-bottom: 2em;
}

.eventImg {
  width: 35vh;
  height: 35vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.previewOne {
  background-image: url('./../images/pitt-violin-small.jpg');
}

.previewTwo {
  background-image: url('./../images/pitt-carnival-showcase-small.jpg');
}

.previewThree {
  background-image: url('./../images/family-night-performance-small.jpg');
}

.eventDate {
  font-size: 1em;
  font-weight: 700;
  color: rgb(74,95,107);
  margin: .6em 0 .35em 0;
}

.eventName {
  font-size: .75em;
  color: rgb(74,95,107);
}

.orgMission {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 32.5vh;
  background-color: rgb(74,95,107);
}

.orgMissionImgContainer {
  position: relative;
  width: 90%;
  min-height: 20vh;
  background-image: url('./../images/pitt-trombone.jpg');
  background-size: cover;
}

.floatingMissionDiv {
  position: absolute;
  width: 65%;
  min-height: 8vh;
  background-color: #6D8A9A;
  top: -25px;
  right: -10px;
  padding: .5% 0;
}

.floatingMissionText {
  color: white;
  font-size: .6em;
  font-weight: 300;
  letter-spacing: 0.03em;
  line-height: 1.15em;
  width: 90%;
  padding-top: 3%;
  margin: 0 auto;
}

.orgCoreValues {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 40vh;
  background: white;
}

.coreValuesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  min-height: 225vh;
}

.coreValuesTop, .coreValuesBottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 7%;
  min-height: 108vh;
  width: 100%;
}

.coreValuesImgDivOne {
  position: relative;
  min-height: 24vh;
  width: 90%;
  margin: 0 auto;
  background-image: url('./../images/es-blog-11.png');
  background-size: cover;
}

.coreValuesImgDivTwo {
  position: relative;
  min-height: 24vh;
  width: 90%;
  margin: 0 auto;
  background-image: url('./../images/conduct.jpg');
  background-size: cover;
}

.coreValuesTextOne {
  position: absolute;
  min-height: 24vh;
  width: 70%;
  bottom: -28vh;
  left: -1vh;
  padding: 1em;
  background-color: white;
  border: 2px solid rgb(74,95,107);
}

.coreValuesTextThree {
  position: absolute;
  height: 34vh;
  width: 70%;
  bottom: -33vh;
  right: -1vh;
  padding: 1em;
  background-color: white;
  border: 2px solid rgb(74,95,107);
}

.valuesTextBlock {
  font-size: .75em;
  line-height: 1.15em;
  margin-top: 1em;
  color: rgb(74,95,107);
}

.valuesItem {
  display: flex;
  justify-content: flex-start;
  width: 95%;
  margin: .5em auto;
}

.home-music{
  margin-right: 1em;
}

.valuesListItemText {
  font-size: 1.2em;
  line-height: 1.15em;
}

.coreValuesButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7em;
  height: 2em;
  margin: 0 auto;
  margin-top: 1em;
  border: 1px solid #ECC749;
}

.supportUsButtonText {
  font-size: 1em;
  color: #ECC749;
}

.coreValuesImgDivTwo {
  position: relative;
  min-height: 24vh;
  width: 90%;
  margin: 0 auto;
  background-image: url('./../images/conduct.jpg');
  background-size: cover;
}

.coreValuesTextTwo, .coreValuesTextFour {
  width: 100%;
  min-height: 40vh;
  background-color: white;
  border: 2px solid #5289A9;
  margin: 27vh auto 0 auto;
  padding-bottom: 1em;
}

.coreValuesTextFour {
  min-height: 30vh;
  margin-top: 26vh;
}

.textBlockTwo, .textBlockThree, .textBlockFour{
  color: #5289A9;
  padding: 1.25em 1em;
}


.textBlockTwoHeader, .textBlockFourHeader {
  font-size: 2em;
  line-height: 1.4em;
}

.textBlockThreeHeader {
  font-size: 1.5em;
  line-height: 1em;
}

.textBlockTwoText, .textBlockFourText {
  font-size: 1.25em;
  line-height: 1.2em;
}




@media(min-width: 700px){

  .quoteContainer {
    width: 42.5%;
    background-color: rgba(74,95,107,0.85);
  }

  .socialCircleQuote {
    height: 36px;
    width: 36px;
    margin-top: 1.5em;
  }

  .blockquote {
    width: 78%;
    padding-top: 1.5em;
  }

  .quote {
    font-size: 1em;
    margin-bottom: 1em;
  }

  .author {
    font-size: .85em;
    font-weight: 400;
  }

  .authorTitle {
    font-size: .8em;
    font-weight: 300;
  }

  .eventsHeader {
    font-size: 1.75em;
  }

  .seeMoreButton {
    height: 2em;
    width: 7em;
    margin-left: .5em;
    border-radius: 3px;
  }

  .seeMoreButtonText {
    color: white;
    font-size: 1.25em;
    font-weight: 300;
  }

  .eventsPreviewsContainer {
    justify-content: space-between;
    min-height: 20vh;
    width: 100%;
    /*background-color: orange;*/
  }

  .eventPreview {
    width: 30%;
    min-height: 28vh;
    /*background-color: pink;*/
  }

  .eventImg {
    width: 200px;
    height: 200px;
  }

  .eventDate {
    font-size: 1.25em;
  }

  .eventName {
    font-size: 1em;
    text-align: center;
    line-height: 1.45em;
  }

  .orgMission {
    min-height: 29vh;
  }

  .floatingMissionText {
    font-size: 1em;
    letter-spacing: 0.05em;
    line-height: 1.25em;
    padding-top: .7em;
  }

  .coreValuesContainer {
    min-height: 210vh;
  }

  .coreValuesTop, .coreValuesBottom {
    padding-top: 7%;
    min-height: 105vh;
  }

  .coreValuesBottom {
    padding-bottom: 5%;
  }

  .coreValuesImgDivOne {
    min-height: 300px;
    width: 90%;
    margin: 0 auto;
  }

  .coreValuesImgDivTwo {
    min-height: 300px;
    width: 90%;
    margin: 0 auto;
  }

  .coreValuesTextOne {
    height: 250px;
    top: 24vh;
    left: -1vh;
  }

  .valuesTextBlock, .textBlockTwoText, .textBlockFourText {
    font-size: 1.15em;
    line-height: 1.2em;
    margin-top: 0em;

  }

  .coreValuesTextTwo {
    width: 100%;
    min-height: 34vh;
    background-color: white;
    border: 2px solid #5289A9;
    margin: 18vh auto 0 auto;
    padding-bottom: 1em;
  }

  .textBlockTwo {
    color: #5289A9;
    padding: 1.25em 1em;
  }

  .textBlockTwoHeader {
    font-size: 2em;
    line-height: 1.4em;
  }

  .textBlockThreeHeader {
    font-size: 2em;
    line-height: 1em;
  }

  .coreValuesTextThree {
    height: 350px;
    min-height: 24vh;
    bottom: -32vh;
  }

  .valuesItem {
    font-size: 1.15em;
    margin: .75em auto;
  }

  .coreValuesTextFour {
    margin-top: 32vh;
  }

  .coreValuesButton {
    width: 9.5em;
    height: 2.75em;
    margin-top: 1.4em;
  }

  .supportUsButtonText {
    font-size: 1.25em;
  }

}

@media(min-width: 1000px){

  .homeBanner {
    min-height: 50vh;
    background-position: 0% 25%;
  }

  .quoteContainer {
    display: flex;
    flex-direction: column;
    width: 34%;
    height: 100%;
  }

  .socialIconsQuote {
    position: absolute;
    display: flex;
    align-items: center;
    margin-top: 5%;
    min-height: 15%;
  }

  .socialCircleQuote {
    min-height: 48px;
    min-width: 48px;
    margin-top: 0;
  }

  .blockquote {
    position: relative;
    width: 68%;
    margin-top: 6.5em;
    overflow: hidden;
  }

  .quote {
    font-size: x-large;
  }

  .author {
    font-size: medium;
  }

  .authorTitle {
    font-size: small;
  }

  .eventsContainer {
    width: 70%;
    min-height: 70vh;
    padding-top: 4vh;
  }

  .eventsHeader {
    font-size: 2.25em;
  }

  .seeMoreButton {
    height: 2.5em;
    width: 8em;
    margin-left: .75em;
  }

  .eventsPreviewsContainer {
    margin-top: 3vh;
    min-height: 47.5vh;
    /*background-color: orange;*/
  }

  .eventPreview {
    width: 300px;
  }


  .eventPreview a {
    width: 100%;
    height: 87.5%;
  }

  .eventImg {
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }

  .eventDate {
    font-size: 1.35em;
  }

  .eventName {
    font-size: 1.15em;
    text-align: center;
    line-height: 1.45em;
  }

  .orgMission {
    min-height: 60vh;
  }

  .orgMissionImgContainer {
    position: relative;
    width: 70%;
    min-height: 32vh;
    background-position: 0% 27.5%;
  }

  .floatingMissionDiv {
    position: absolute;
    display:table;
    vertical-align: middle;
    width: 55%;
    min-height: 14.5vh;
    background-color: #6D8A9A;
    top: -62px;
    right: -10px;
  }

  .floatingMissionText {
    margin: 3% auto 0 auto;
    width: 95%;
    padding-bottom: 24px;
    font-size: 1.25em;
  }

  .coreValuesContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    min-height: 160vh;
  }

  .coreValuesTop {
    align-items: flex-start;
    padding-top: 5%;
    min-height: 38vh;
    width: 80%;
  }

  .coreValuesImgDivOne {
    width: 40%;
    background-image: url('./../images/standup-violin.jpg');
    background-size: cover;
    background-position: center;
  }

  .coreValuesTextOne {
    display: table;
    min-height: 30vh;
    top: 24vh;
    /*background-color: plum;*/
  }

  .valuesTextContainer {
    display: table-row;
    width: 100%;
    min-height: 25vh;
    /*background-color: lime;*/
  }

  .homeButtonContainer {
    box-sizing: border-box;
    display: table-row;
    width: 100%;
    height: 5vh;
    /*background-color: pink;*/
  }

  .coreValuesButton {
    width: 9.5em;
    height: 2.75em;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .coreValuesBottom {
    align-items: flex-start;
    flex-direction: row-reverse;
    padding-top: 8%;
    padding-bottom: 0;
    min-height: 80vh;
    width: 80%;
    overflow: hidden;
  }

  .coreValuesTextTwo, .coreValuesTextFour {
    width: 40%;
    padding-bottom: 1em;
  }

  .coreValuesTextThree {
    display: table;
    height: 350px;
    top: 24vh;
    font-size: small;
  }

  .textBlockThreeHeader {
    display: table-row;
    font-size: 2em;
    line-height: 1em;
  }

  .valuesTextBlockThree {
    display: table-row;
  }

  .coreValuesTextFour {
    margin-top: 18vh;
  }

  .coreValuesImgDivTwo {
    width: 40%;
    background-image: url('./../images/conduct.jpg');
    background-size: cover;
    background-position: center;
  }

  .supportUsButtonText {
    font-size: large;
  }

  .readMoreButton {
    width: 11.75em;
    height: 3.25em;
    margin-bottom: 5px;
  }

}

@media(min-width: 1600px){
  .coreValuesTextOne, .coreValuesTextThree {
    font-size: medium;
  }
}
