::-webkit-input-placeholder {
    font-weight: lighter;/* WebKit, Blink, Edge */
    color:    #e4e4e4;
    font-size: 12px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   font-weight: lighter;
   color:    #e4e4e4;
   opacity:  1;
   font-size: 12px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   font-weight: lighter;
   color:    #e4e4e4;
   opacity:  1;
   font-size: 12px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   font-weight: lighter;
   color:    #e4e4e4;
   font-size: 12px;
}
::-ms-input-placeholder { /* Microsoft Edge */
   font-weight: lighter;
   color:    #e4e4e4;
   font-size: 12px;
}

/* placeholder styleing */

.AdminBlog_ADDNEW_Main {
  box-sizing: border-box;
  float: left;
  width: calc(100vw - 14%);
  min-height: 100vh;
  padding-top: 2vh;
  /*background-color: red;*/
}

.adminContentContainer {
  margin: 0 auto;
}

.add_new_blog {
  width: 90%;
  min-height: 70vh;
  background-color: white;
  /*background-color: lime;*/

  margin-bottom: 20px;
  /*border: 2px solid red;*/
  margin-top: 15px;
  margin-left: 4.5%;
}

.volunteerOverwrite {
    height: 405px;
  }

.anb_headerText {
  height: 20px;
  margin-bottom: 15px;
}

.anb_headerText p {
  font-size: x-large;
}

.blogTitle, .blogSubtitle, .blogContent {
  font-size: small;
}

.anb_topInput {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /*border: 2px solid black;*/
  min-height: 8vh;
}

.anb_topInput input{
  background: transparent;
  border: none;
  border-bottom: 1px solid darkgray;
  outline: none;
  width: 45%;
  min-height: 8vh;
}

.lngipt {
  width: 100%;
  border-bottom: 1px solid darkgray;
  height: 45px;
  display: flex;
  align-items: center;

}

.lngipt input{
  background: transparent;
  border: none;
  outline: none;
}

.maintxt_Content {
  min-height: 50vh;
}


.maintxt_Content textarea{
  background: transparent;
  border: none;
  border-bottom: 1px solid darkgray;
  outline: none;
  width: 100%;
  min-height: 50vh;
  margin-top: 30px;
}


/* permission */
.permission {
  width: 90%;
  height: 100px;
  margin-left: 4.5%;
  /*border: 2px solid black;*/
  font-size: 14px;

}

.singleCheck {
  display: flex;
  margin-right: 5px;
}

.checkBody {
  display: flex;
  margin-top: 14px;
  flex-wrap: wrap;
  height: 60px;
  font-size: 12px;
}
/*permission section ends*/

.add_new_pics {
  width: 100%;
  min-height: 20vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: space-around;
  font-size: small;
}

.add_pic_inner {
  text-align: center;
  /*border: 2px solid green;*/
}

.add_pic_inner img {
  width: 100px;
  height: 100px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.pblg {
    width: 130px;
    /*margin-left: 5px;*/
    height: 30px;
    margin-top: 35px;
    border-radius: 5px;
    box-shadow: 0 8px 6px -6px rgba(194,192,194,1);
    display: flex;
    justify-content: center;
    align-items: center;
  }

.save_btn {
    background-color: #4E8AA8;
    color: white;
  }

.cancel_btn {
    background-color: #ECECEC;
    color: #b4b4b4;
  }

.web_btn {
  display: none
}

.anb_overwrite textarea{
  min-height: 50vh;
}

@media(min-width: 700px) {

  .AdminBlog_ADDNEW_Main {
    width: calc(100vw - 31%);
    min-height: 50vh;
  }

  .adminContentContainer {
    margin: 0 auto;
  }

  .blogTitle, .blogSubtitle, .blogContent, .picInnerText {
    font-size: large;
  }

  .maintxt_Content{
    min-height: 55vh;
    width: 100%;
  }

  .anb_overwrite textarea{
    min-height: 55vh;
  }

  .volunteersaveOR {
    margin-left: 10px;
  }

  .volunteer_anp {
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
  }

  .profileVolunteer {
    margin-left: 25px;
  }

  /* placeholder styleing */
  ::-webkit-input-placeholder {

      font-size: 15px;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */

     font-size: 15px;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */

     font-size: 15px;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */

     font-size: 15px;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */

     font-size: 15px;
  }

  /* placeholder styleing */
  .web_btn {
    display: none
  }

  .add_new_pics {
    min-height: 40vh;
    width: 100%;
    margin-top: 4vh;
    font-size: medium;
    margin-bottom: 0vh;
  }

  .add_pic_inner {
    text-align: center;
  }

  .add_pic_inner img {
    width: 100%;
    height: auto;
  }

  .pblg {
      width: 70%;
      height: 36px;
      margin: 30px auto 0 auto;
      box-shadow: 0 8px 6px -6px rgba(194,192,194,1);
      display: flex;
      justify-content: center;
      align-items: center;
    }
}

@media(min-width: 1000px) {

  .adminContentContainer{
    width: 90%;
    min-height: 50vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /*background-color: lime;*/
  }

  .add_new_blog {
    width: 60%;
  }

  .add_new_pics {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 80vh;
    margin-bottom: 6vh;
  }

  .add_pic_inner {
      width: 100%;
      /*height: 50%;*/
      text-align: center;
      margin-bottom: 30px;

    }

  .add_pic_inner img {
    width: 65%;
    height: auto;
  }

  .add_pic_inner div {
    margin-left: 3px;
  }

  .pblg {
    display: none;
  }

  /*=====permission&button section for volunteer*/
  .permission {
    font-size: 16px;
  }

  .checkBody {
    font-size: 15px;
  }


  .profileVolunteer {
    margin-left: 0px;
  }

  /*web responsive button*/
  .web_btn {
    box-sizing: border-box;
    display: flex;
    width: 90%;
    justify-content: flex-start;
    margin: 0 auto 4vh auto;
  }

  .singlebtn {
    width: 150px;
    height: 40px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .web_save {
    color: white;
    background-color: #4e8aa8;
    border-radius: 5px;
    box-shadow: 0 8px 6px -6px rgba(194,192,194,1);
    margin-left: 5%;
  }

  .web_cancel {
    background-color: #ECECEC;
    color: #b4b4b4;
    border-radius: 5px;
    box-shadow: 0 8px 6px -6px rgba(194,192,194,1);
    margin-left: 5%;
  }

  .blogTitle, .blogSubtitle, .blogContent {
    font-size: x-large;
  }

  .picInnerText {
    font-size: large;
  }

  .maintxt_Content{
    min-height: 62.5vh;
  }

  .anb_overwrite textarea{
    min-height: 62.5vh;
  }

}
