.mediaMainContent {
    min-height: 80vh;
    width: 100%;
}

.photoVideoToggleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 50%;
}

.photoVideoToggleSwitch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    width: 60%;
    background-color: white;
    
}

.photoVideoToggleText {
    padding: 0, auto;
}



.mediaGridPhotosContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    width: 100%;
    background-color: white;
}

.mediaGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 99%;
    width: 95%;
    background-color: white;
}

.photosFormat {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mediaGridVideosContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 150vh;
    width: 100%;
    background-color: white;
}

.videosHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 50%;
    border-top: solid 1px;
}

