.photoCardContainer{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    height: 10em;
    width: 7em;
    background-color: red;
    font-size: 1em;
}

.tester {
    /* height: 500px;
    width: 500px; */
    background-image: lightseagreen;
}
.tester2 {
    /* height: 500px;
    width: 500px; */
    background-color: lightsalmon;
}
.tester3 {
    /* height: 500px;
    width: 500px; */
    background-color: palegoldenrod;
}
.mediaImage {
    
    /* height: 500px;
    width: 500px; */
    background-color: aquamarine;
}