.blogPostWrapper {
  box-sizing: border-box;
  width: 100%;
  min-height: 75vh;
}

.blogPostContent {
  width: 95%;
  min-height: 75vh;
  margin: 0 auto;
  padding: 5vh 0 2vh 0;
}

.blogAuthorDetails {
  box-sizing: border-box;
  width: 100%;
  min-height: 7.5vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2.5%;
  margin-bottom: 5%;
}

.blogAuthorPic img{
  display: flex;
  align-items: center;
  height: 7.5vh;
  width: auto;
  border-radius: 50%;
}

.blogAuthorName {
  display: flex;
  align-items: center;
  height: 7.5vh;
  margin-left: 5%;
}

.blogAuthorName p {
  font-size: medium;
}

.blogPostTopImage, .blogPostTopImage img {
  min-width: 100%;
  min-height: 20vh;
}

.titleDate {
  display: flex;
  width: 100%;
  margin: 5% 0;
}

.titleDate p {
  font-size: large;
  font-weight: 700;
}

.blogDate {
  font-size: small;
  font-weight: 300;
}

.blogSubtitle {
  margin: 3% 0 4.5% 0;
  color: #4D819F;
  font-size: small;
}

.blogBodyContent {
  font-size: small;
  line-height: 1.25em;
}

.blogPostFooter {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 7.5vh;
  margin-top: 7.5%;
  margin-bottom: 7.5%;
}

.blogPlaceholderDiv{
  width: 30%;
  min-height: 7.5vh;
}

.blogEndLogo {
  min-width: 30%;
  height: 7.5vh;
  background-image: url('./../images/logo-color.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.returnToBlogs {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 30%;
  min-height: 7.5vh;
}

.returnToBlogs a {
  text-decoration: none;
  color: black;
}

@media(min-width: 700px){

  .blogPostContent {
    width: 75%;
    min-height: 75vh;
    margin: 0 auto;
    padding: 5vh 0 2vh 0;
  }

  .blogAuthorName p {
    font-size: x-large;
  }

  .titleDate p {
    font-size: x-large;
    font-weight: 700;
  }

  .blogDate {
    font-size: medium;
  }

  .blogSubtitle {
    font-size: medium;
  }

  .blogBodyContent {
    font-size: medium;
    line-height: 1.15em;
  }
}
