.photoCardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 9em;
    width: 10em;
    background-color: whitesmoke;
    box-shadow: 1px 1px 1px;
    /* border: solid 1px; */
    border-radius: 2px;
    color: rgb(74,95,107);
    
}

.mediaImage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: .2em;
    width: 100%;
    background-color: whitesmoke;
}

.imageSize {
    height: 5.7em;
    width: 9.5em;
}

.photoCaption {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    padding-top: .1em;
    background-color: whitesmoke;
    font-size: .6em;
    
}

.shareIcon {
    height: 1.5em;
    width: 1.5em;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./../images/share1.png');
}

@media (min-width: 700px){

.photoCardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 18.9em;
    width: 21em;
    background-color: whitesmoke;
    box-shadow: 3px 3px 3px;
    border-radius: 2px;
}

.mediaImage {
    display: flex;
    justify-content: center;
    padding-bottom: .2em;
    width: 100%;
    background-color: whitesmoke;
}

.imageSize {
    height: 12em;
    width: 20em;
}

.photoCaption {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    padding-top: .1em;
    background-color: whitesmoke;
    font-size: 1.15em;
    
}

.shareIcon {
    height: 1.5em;
    width: 1.5em;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./../images/share1.png');
}

}
