.calendarWrapper{
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
}

.header_h1 {
  color: rgb(83,73,70);
  font-size: 2.2em;
  margin-top: 50px;
  margin-left: 12%;
}


.banner_one {
  height: 40vh;
  width: 90%;
  background-image: url("https://lh5.googleusercontent.com/Q4fmGeEjq8NPzagHpB_wBf6MbNke-Nqh5J7Sa0dHS7WPg9gc_Dj4z0l5cD4unZECtHftY08JFj51gDg=w1440-h826-rw");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.banner_text {
  color: white;
  width: 40%;
  height: 100%;
  background-color: rgba(83,73,70, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5em;
  position: absolute;
  right: 0;
}

.banner_text p {
  font-size: 0.7em;
  line-height: 160%;
  font-weight: 100;
}


.banner_text p ,
.banner_text h4{
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 10px;
}
.banner_text button {
  margin-top: 20px;
  width: 30%;
  align-self: center;
  color: rgb(241,205,0);
  background: transparent;
  border: 2px solid rgb(241,205,0);
  font-size: 0.7em;
}


.nav {
  display: flex;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}


.list,
.calendar {
  margin-left: 20px;
}


.list,
.calendar,
.showAll {
  display: flex;
  align-items: center;
}

.showAll .fa-calendar{
  color: transparent;
}

.fa-list,
.fa-calendar {
  font-size: 20px;
}
.fa-caret-down {
  margin-left: 5px;
}

.theCalendarDetailView {
  height: 100vh;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 30px;
}
