@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}




.calendarWrapper{
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
}

.header_h1 {
  color: rgb(83,73,70);
  font-size: 2.2em;
  margin-top: 10%;
  margin-left: 12%;
}


.banner_one {
  height: 40vh;
  width: 90%;
  background-image: url("https://mave.me/img/projects/full_placeholder.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

.banner_text {
  color: white;
  width: 40%;
  height: 100%;
  background-color: rgba(83,73,70, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5em;
  position: absolute;
  right: 0;
}

.banner_text p {
  font-size: 0.7em;
  line-height: 160%;
  font-weight: 100;
}


.banner_text p ,
.banner_text h4{
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 10px;
}
.banner_text button {
  margin-top: 20px;
  width: 30%;
  align-self: center;
  color: rgb(241,205,0);
  background: transparent;
  border: 2px solid rgb(241,205,0);
  font-size: 0.7em;
}


.nav {
  display: flex;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}


.list,
.calendar {
  margin-left: 20px;
}


.list,
.calendar,
.showAll {
  display: flex;
  align-items: center;
}

.showAll .fa-calendar{
  color: transparent;
}

.fa-list,
.fa-calendar {
  font-size: 20px;
}
.fa-caret-down {
  margin-left: 5px;
}

.theCalendarDetailView {
  height: 100vh;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 30px;
  position: relative;
}

.classes,
.performances {
  display: flex;
  align-items: center;
  margin-left: 10%;
}

.classes div,
.performances div {
  margin-right: 25px;
}

.classes {
  height: 10px;
  width: 20px;
  background-color: #00c48c;
}

.performances {
  height: 10px;
  width: 20px;
  background-color: #4088af;
}

.event-card-wrapper {
  position: absolute;
  width: 800px;
  height: 35vh;
  left: 0;
  right: 0;
  top:0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 99;
}


.event-card {
  margin-left: auto;
  margin-right: auto;
  color: #4a4a4a;
  height: 35vh;
  width: 90%;
  background-image: url("https://mymusiccommunityblog.files.wordpress.com/2016/01/piano-student-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: 1px solid #d3d6db;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
  animation: fadeInRight 500ms;
}

.filter {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 0;
  z-index: 2
}


.event-start-day,
.event-start-month{
  position: absolute;
}

.event-start-day {
  top: 38%;
  right: 47%;
  font-size: 7em;
  font-weight: 900;
  z-index: 3;
}

.event-start-month {
  top: 38%;
  left: 5%;
  font-size: 7em;
  font-weight: 900;
  text-transform: uppercase;
  z-index: 3;
}



.event-detail {
  width: 40%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  position: absolute;
  right: 0;
  z-index: 3;
}

.event-detail h1 {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.event-detail h2 {
  margin-bottom: 20px;
}

.close-button {
  background-color: #f1cd00;
  border: 1px solid #d3d6db;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  position: absolute;
  top: -6%;
  right: -3%;
  outline: none;
  z-index: 4;
}

.close-button:active {
  box-shadow: inset rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
}

.fa-times {
  font-size: 1.5em;
}


@media (max-width: 900px) {
  .event-card-wrapper{
    width: 600px;
  }
  .classes,
  .performances {
    display: flex;
    align-items: center;
    margin-left: 15%;
  }

  .banner_one {
    height: 30vh;
  }

  .banner_text {
    width: 45%;
    font-size: 1em;
  }

  .banner_text button {
    width: 40%;
    font-size: 0.7em;
  }

}

@media (max-width: 700px) {
  .banner_one {
    height: 30vh;
  }

  .banner_text {
    width: 50%;
    font-size: 0.5em;
  }

  .banner_text button {
    width: 40%;
    font-size: 0.5em;
  }

  .event-card-wrapper{
    width: 100vw;
    height: 20vh;
    left: -40px;
  }
  .event-start-day {
    top: 38%;
    right: 47%;
    font-size: 4em;
    font-weight: 900;
    z-index: 3;
  }

  .event-start-month {
    top: 38%;
    left: 5%;
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    z-index: 3;
  }



  .event-detail {
    width: 40%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    position: absolute;
    right: 0;
    z-index: 3;
  }

  .event-detail h1 {
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .theCalendarDetailView {
    height: 70vh;
  }

  .performances {
    display: flex;
    align-items: center;
    margin-left: 30%;
  }

}
